<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @tool.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @tool.body %>
</p>

<%= link_to 'Edit', edit_tool_path(@tool) %> |
<%= link_to 'Back', tools_path %>
