<%= form_with(model: contact_form, local: true) do |form| %>
  <% if contact_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact_form.errors.count, "error") %> prohibited this contact_form from being saved:</h2>

      <ul>
      <% contact_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :subject %>
    <%= form.text_field :subject, id: :contact_form_subject %>
  </div>

  <div class="field">
    <%= form.label :message %>
    <%= form.text_area :message, id: :contact_form_message %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
